body {
    border: 1px solid red;
    background-color: #e5e5e5;
    height: 100%;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}

#sideMenu {
    border: 1px solid green;
}

#sideMenu form {
    display: flex;
    flex-direction: column;
}

#sideMenu form input {
    height: 100px;
}

#sideMenu form button {
    height: 100px;
    cursor: pointer
}

#notesContainer {
    border: 1px solid blue;
}

#notesContainer input {
    height: 100px;
    width: 200px;
}

#notesContainer button {
    height: 100px;
    width: 200px;
}

.projectRow {
    border: 1px solid orange;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.projectRow button {
    width: 50%;
}
